/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

#hero-top {
  background-color: #2E0000;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 300px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #573333;
  margin: 0 auto;
}

#social-icons a {
  margin-left: 20px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

#social-icons a:hover {
  transform: rotateY(180deg);
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#nav-bar img {
  max-width: 200px;
  height: auto;
}

#nav-links span a {
  margin-right: 20px;
  text-decoration: none;
  color: #2D0000;
}

#hero {
  background-image: url(../assets/breakfast-cereal-7337357_1280.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.text {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  position: relative;
  max-width: 800px;
  padding: 20px;
  top: 35%;
  z-index: 1;
}

.text h1 {
  font-size: 2emm;
  margin: 20px 0;
}

.text p {
  font-size: 18px;
  margin-bottom: 20px;
}

#discover-button {
  background-color: #B60037;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  height: 51px;
  letter-spacing: 2px;
  border: 0;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
}

#discover-button a {
  text-decoration: none;
  color: white;
}

#home {
  text-align: center;
  background-color: #e9ecef;
}

#homepage-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

#homepage-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

#homepage-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #EFEFEF;
  width: 100%;
  column-gap: 100px;
  min-height: 400px;
}

#about h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

#about-us {
  max-width: 600px;
}

#about-image {
  width: 100%;
  max-height: 367px;
  max-width: 367px;
  border-radius: 15px;
  transition: transform 0.6s ease;
  position: relative;
  z-index: 1;
}

#about-image:hover {
  transform: scale(1.1);
}

#about-title {
  color: rgb(38, 50, 70);
  font-family: "DM Sans", sans-serif;
  font-size: 44px;
  font-weight: 400;
}

#about-description {
  color: rgb(110, 117, 128);
  display: block;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

#reviews {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

/* Media Queries for Responsiveness */

/* Small devices (mobile phones) */
@media (max-width: 576px) {
  body {
      font-size: 12px;
  }

  #hero-top {
      flex-direction: column;
      gap: 20px;
      text-align: center;
  }

  #nav-bar {
      flex-direction: column;
  }

  .text h1 {
      font-size: 2em;
  }

  .text p {
      font-size: 14px;
  }

  #about {
      flex-direction: column;
      padding: 50px;
  }

  #about-image {
      width: 80%;
      height: auto;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  body {
      font-size: 13px;
  }

  #hero-top {
      gap: 100px;
  }

  #about {
      column-gap: 50px;
  }

  .text h1 {
      font-size: 2.5em;
  }

  .text p {
      font-size: 16px;
  }
}

/* Large devices (desktops and above) */
@media (min-width: 1024px) {
  #hero-top {
      gap: 300px;
  }

  #nav-bar {
      justify-content: space-between;
  }

  .text h1 {
      font-size: 3.5em;
  }

  .text p {
      font-size: 18px;
  }

  #about {
      column-gap: 100px;
      padding: 100px;
  }

  #about-image {
      width: 367px;
      height: auto;
  }
}
